------------------------------------------------------------------------------
Welcome to Kube-Ansible ENVIRONMENT~~

Machine ID:    {{ ansible_machine_id }}
HOSTNAME:      {{ ansible_hostname }}
IP:            {{ inventory_hostname }}

OS:            {{ ansible_distribution }}-{{ ansible_distribution_version }}
Kernel:        {{ ansible_kernel }}
CPU:           {{ ansible_processor_vcpus }} x {{ ansible_processor[-1] }}
Memory:        {{ ansible_memtotal_mb }} MB

Kubernetes version: 		    {{ KUBE_VERSION }}
Etcd version: 			        {{ ETCD_VERSION }}
{%- if RUNTIME == 'docker' %} 
Docker version:             {{ DOCKER_VERSION }}
{% else %}
Containerd version:         {{ CONTAINERD_VERSION }}
Crictl version:             {{ CRICTL_VERSION }}
Runc version:               {{ RUNC_VERSION }}
{%- endif %}
CNI version: 			          {{ CNI_VERSION }}

The Roles of this node are:
{%- if inventory_hostname in groups['master'] %} 
  - kube-master
{%- endif %}
{%- if inventory_hostname in groups['worker'] %} 
  - kube-worker
{%- endif %}

------------------------------------------------------------------------------
