------------------------------------------------------------------------------
Welcome to Kube-Ansible ENVIRONMENT~~

Machine ID:    {{ ansible_machine_id }}
HOSTNAME:      {{ ansible_hostname }}
IP:            {{ ansible_default_ipv4.address }}

OS:            {{ ansible_lsb.description }}
Kernel:        {{ ansible_kernel }}
Memory:        {{ ansible_memtotal_mb }} MB
CPU:           {{ ansible_processor_vcpus }} x {{ ansible_processor[-1] }}

Container Runtime: {{ RUNTIME }}

The Roles of this node are:
{%- if inventory_hostname in groups['master'] %} 
  - kube-master
{%- endif %}
{%- if inventory_hostname in groups['worker'] %} 
  - kube-worker
{%- endif %}

------------------------------------------------------------------------------