------------------------------------------------------------------------------
Welcome to Salt_Kube UNKNOW ENVIRONMENT~~


ENVIRONMENT:   UNKNOW
Machine ID:    2cd35a3de3164586af386d3bd13a0b0e
HOSTNAME:      scdcr101216
IP:            53.99.101.216

OS:            CentOS Linux 7.9.2009 "Centos linux 7 (core)"
Kernel:        5.4.111-1.el7.elrepo.x86_64
Memory:        3938 MB
CPU:           4 x Intel(R) Xeon(R) CPU E7-4890 v2 @ 2.80GHz
Salt Version:  2018.3.4


Container Runtime: unknown

The Salt Roles of this node are:
  - salt
  - ca

------------------------------------------------------------------------------