[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/home/
{% if RUNTIME == "containerd" %}
After=containerd.service
Requires=containerd.service
{% else %}
After=docker.service
Requires=docker.service
{% endif %}

[Service]
ExecStart=/usr/local/bin/kubelet \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --config=/etc/kubernetes/kubelet.yaml \
  --node-ip={{ ansible_default_ipv4.address }}{% if ansible_default_ipv6.address is defined %},{{ ansible_default_ipv6.address }}{% endif %} \
{% if nodename is defined %}
  --hostname-override={{ nodename | lower }} \
{% endif %}
{% if RUNTIME == "containerd" %}
  --container-runtime=remote \
  --runtime-request-timeout=15m \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
{% endif %}
{% if kubelet.extraArgs is defined %}
{% for extraArg in kubelet.extraArgs %}
  {{ extraArg }} \
{% endfor %}
{% endif %}
  --v={{ kubelet.log.level | default(1) }}
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
