# OSX files
**/.DS_Store
!.gitignore

scripts/binaries
roles/apps/files/*.yaml

inventory/hosts
group_vars/all.yml
group_vars/kubernetes.yml

# temp file
.etcd 
.docker 
.kubernetes
.containerd
.crictl

# terraform
test/terraform/*/.terraform
test/terraform/*/*.tfstate
test/terraform/*/*.backup