# OSX files
.DS_Store

__pycache__
scripts/src/*
test.md
tests/k8s-conformance
scripts/binaries
roles/apps/files/*.yaml

inventory/hosts
inventory/hosts.*
group_vars/all.yml
group_vars/kubernetes.yml

# temp file
.etcd
.docker
.kubernetes
.containerd
.crictl
.runc



# terraform
tests/terraform/*/.terraform
tests/terraform/*/*.tfstate
tests/terraform/*/*.backup


# vagrant
.vagrant
.ssh