# OSX files
**/.DS_Store
!.gitignore

scripts/binaries
roles/apps/files/*.yaml

# local package
inventory/terraform

inventory/hosts
group_vars/all.yml

# temp file
.etcd 
.docker 
.kubernetes

# terraform
test/terraform/*/.terraform
test/terraform/*/*.tfstate
test/terraform/*/*.backup