global_defs {
    enable_script_security
}

vrrp_script haproxy-check {
    user root
    script "/bin/bash /etc/keepalived/check_haproxy.sh"
    interval 3
    weight -2
    fall 10
    rise 2
}

vrrp_instance haproxy-vip {
    state BACKUP
    priority 101
{% if IP_STACK | default("ipv4") == "ipv6" %}
    interface {{ ansible_default_ipv6.interface }}
{% else %}
    interface {{ ansible_default_ipv4.interface }}
{% endif %}
    virtual_router_id 47
    advert_int 3
{% if IP_STACK | default("ipv4") == "ipv6" %}
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_facts']['default_ipv6']['address'] }}
{% else %}
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}
{% endif %}
    unicast_peer {
{% for host in groups['master'] %}
{% if host != inventory_hostname %}
{% if IP_STACK | default("ipv4") == "ipv6" %}
    {{ hostvars[host]['ansible_facts']['default_ipv6']['address'] }}
{% else %}
    {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}
{% endif %}
{% endif %}
{% endfor %}
    }
    virtual_ipaddress {
        {{ ha.vip }}/{{ ha.mask }}
    }

    track_script {
        haproxy-check
    }
}