global_defs {
    enable_script_security
}

vrrp_script haproxy-check {
    user root
    script "/bin/bash /etc/keepalived/check_haproxy.sh"
    interval 3
    weight -2
    fall 10
    rise 2
}

vrrp_instance haproxy-vip {
    state BACKUP
    priority 101
    interface {{ IP_STACK | default("ipv4") | select('eq', 'ipv4', ansible_default_ipv4.interfacee, ansible_default_ipv6.interface) }}
    virtual_router_id 47
    advert_int 3
    unicast_src_ip {{ IP_STACK | default("ipv4") | select('eq', 'ipv4', hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'], hostvars[inventory_hostname]['ansible_facts']['default_ipv6']['address']) }}
    unicast_peer {
{% for host in groups['master'] %}
{% if host != inventory_hostname %}
    {{ IP_STACK | default("ipv4") | select('eq', 'ipv4', hostvars[host]['ansible_facts']['default_ipv4']['address'], hostvars[host]['ansible_facts']['default_ipv6']['address']) }}
{% endif %}
{% endfor %}
    }
    virtual_ipaddress {
        {{ ha.vip }}/{{ ha.mask }}
    }

    track_script {
        haproxy-check
    }
}