---
- name: Set OS dependent variables
  include_vars: "{{ DOWNLOAD_WAY }}.yml"

- name: Download binary
  get_url:
    url: "{{ download_url }}"
    dest: /usr/local/bin/kubectl
    # checksum: "sha256:{{ checksum_url }}"
    force: true
    mode: 0755
    owner: root
    group: root
    url_password: "{{ NEXUS_HTTP_USERNAME }}"
    url_username: "{{ NEXUS_HTTP_PASSWORD }}"
    timeout: 3
  register: kubectl_pkg
  until: kubectl_pkg is succeeded
  retries: 10

- name: Create certificate directory
  file:
    name: /etc/kubernetes/pki
    state: directory

- name: Distribution certificate
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  with_items:
    - {
        src: "/etc/ssl/kubernetes/ca.crt",
        dest: "/etc/kubernetes/pki/ca.crt",
        mode: 644,
      }
    - {
        src: "/etc/ssl/kubernetes/ca.key",
        dest: "/etc/kubernetes/pki/ca.key",
        mode: 600,
      }
  notify: Clean ca key

- name: Generate kubectl private key
  community.crypto.openssl_privatekey:
    path: /etc/kubernetes/pki/admin.key
    size: 2048
    mode: 0600
  notify: Clean admin key

- name: Generate kubectl csr
  community.crypto.openssl_csr:
    path: /etc/kubernetes/pki/admin.csr
    privatekey_path: /etc/kubernetes/pki/admin.key
    common_name: "kubernetes-admin"
    organization_name: "system:masters"
    basic_constraints_critical: yes
    basic_constraints:
      - "CA:FALSE"
    key_usage_critical: yes
    key_usage:
      - digitalSignature
      - keyEncipherment
    extended_key_usage:
      - serverAuth
      - clientAuth
  notify: Clean admin csr

- name: Generate kubectl certificate
  community.crypto.x509_certificate:
    path: /etc/kubernetes/pki/admin.crt
    csr_path: /etc/kubernetes/pki/admin.csr
    ownca_path: /etc/kubernetes/pki/ca.crt
    ownca_privatekey_path: /etc/kubernetes/pki/ca.key
    provider: ownca
    mode: 0644
  notify: Clean admin crt

- name: Create admin kubeconfig
  template:
    src: admin.kubeconfig.j2
    dest: /etc/kubernetes/admin.kubeconfig
    mode: 0600
  notify: Clean admin kubeconfig

- name: Delete user kube directory
  file:
    name: ~/.kube
    state: absent

- name: Create user kube directory
  file:
    name: ~/.kube
    state: directory
    mode: "0755"
  notify: Clean .kube

- name: Create User kubeconfig
  copy:
    src: /etc/kubernetes/admin.kubeconfig
    dest: ~/.kube/config
    mode: "0600"
    remote_src: yes

- name: Install kubectl completion
  copy:
    src: kubectl.sh
    dest: /etc/bash_completion.d/kubectl
    owner: root
    group: root
