[master]
172.16.102.11 ipv6=fdcd:d1e9:f503:0:250:56ff:fe82:c2be

[worker]
172.16.102.12 ipv6=fdcd:d1e9:f503:0:250:56ff:fe82:bdb8

[kubernetes:children]
master
worker

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_port=22
ansible_ssh_user=root
# ansible_ssh_pass=root
# ansible_sudo_user=root
# ansible_sudo_pass=root
