[master]
192.168.56.10

[worker]
192.168.56.11

[kubernetes:children]
master
worker

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_port=22
ansible_ssh_user=root
# ansible_ssh_pass=root
# ansible_sudo_user=root
# ansible_sudo_pass=root
