[master]
172.16.5.11
172.16.5.12
172.16.5.13

[worker]
172.16.5.14
172.16.5.15
172.16.5.16
172.16.5.17

[worker:vars]
DataDir=/data
DataDevice=/dev/sdc

[kubernetes:children]
master
worker

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_port=22
ansible_ssh_user=root
# ansible_ssh_pass=root
# ansible_sudo_user=root
# ansible_sudo_pass=root
