version = 2
[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    disable_tcp_service = true
    stream_server_address = "127.0.0.1"
    stream_server_port = "0"
    stream_idle_timeout = "4h"
    enable_selinux = false
    selinux_category_range = 1024
    sandbox_image = "registry.aliyuncs.com/google_containers/pause:3.5"
    stats_collect_period = 10
    enable_tls_streaming = false
    tolerate_missing_hugetlb_controller = true
    ignore_image_defined_volumes = false
  [plugins."io.containerd.grpc.v1.cri".x509_key_pair_streaming]
    tls_cert_file = ""
    tls_key_file = ""
  [plugins."io.containerd.grpc.v1.cri".containerd]
    snapshotter = "overlayfs"
    no_pivot = false
    disable_snapshot_annotations = false
    discard_unpacked_layers = false
    default_runtime_name = "runc"
    [plugins."io.containerd.grpc.v1.cri".containerd.default_runtime]
      runtime_type = "io.containerd.runtime.v1.linux"
      runtime_engine = "/usr/local/bin/runc"
      runtime_root = ""
    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
      runtime_type = "io.containerd.runc.v2"
      pod_annotations = []
      container_annotations = []
      privileged_without_host_devices = false
      base_runtime_spec = ""
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
        NoPivotRoot = false
        NoNewKeyring = false
        ShimCgroup = ""
        IoUid = 0
        IoGid = 0
        BinaryName = ""
        Root = ""
        CriuPath = ""
        SystemdCgroup = false
        CriuImagePath = ""
        CriuWorkPath = ""
  [plugins."io.containerd.grpc.v1.cri".cni]
    bin_dir = "/opt/cni/bin"
    conf_dir = "/etc/cni/net.d"
    max_conf_num = 1
    conf_template = ""
  [plugins."io.containerd.grpc.v1.cri".registry]
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
        endpoint = ["https://registry-1.docker.io", "https://i3jtbyvy.mirror.aliyuncs.com" ]
  [plugins."io.containerd.grpc.v1.cri".image_decryption]
    key_model = "node"