name: Auto Update Version

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/pipeline.yml"
      - "scripts/action.sh"
  schedule:
    - cron: "00 18 * * *"

jobs:
  update:
    if: github.repository == 'buxiaomo/kube-ansible'
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: auto update kubernetes version
        run: |
          sudo apt-get install jq -y
          ./scripts/action.sh kubernetes
